# OS metadata
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies & Build artifacts (if added in the future)
node_modules/
dist/
build/
.cache/
*.log
